.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(3, 53, 110, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  cursor: pointer;

}
.brand{
  font-size: 1.rem;
  font-weight: bolder;
  text-align: center;
  margin-left: 20px;
}

.serch{
  margin-left: 80px;
  width: 60%;
}
.serch input{
  width: 80%;
  padding: 1%;
  border-radius: 5px;
  text-align: center;
}
.serch ::placeholder{
  font-weight: bolder;
  padding: 10px;
}
.cart{
  width: 20%;
  text-align: center;
  font-weight: bolder;
}
.login{
  width: 20%;
  text-align: center;
  font-weight: bolder;
}
.navbar-wrapper{
  display:flex ;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(2, 13, 41, 0.324);
  color: aliceblue;
  cursor: pointer;
  font-weight: bolder;
}