.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 149, 211);
   
}
.search{
height: 40px;
width: 700px;
border-radius: 10px;
}
.baton{
    width: 100px;
    border-radius: 10px;
}