.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #081681be;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.brand{
    font-weight: bolder;
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.search-bar{
    width: 60%;
    border-radius: 2%;
}

.search-bar input{
    width: 55%;
    /* text-align:center; */
}
input::placeholder{
    padding: 10px;
    font-weight: bold;
}
.login {
    border-radius: 4%;
    background-color: rgb(0, 2, 3);
    color: rgb(0, 0, 0);
    font-weight: bolder;

}

.cart{
    width: 20%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.nav-bar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #326894;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img{
    width: 350px;
    height: 350px;
}

.con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem
}